BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "inDataA0[7]" SITE "5" ;
LOCATE COMP "inDataA0[6]" SITE "6" ;
LOCATE COMP "inDataA0[5]" SITE "9" ;
LOCATE COMP "inDataA0[4]" SITE "10" ;
LOCATE COMP "inDataA0[3]" SITE "11" ;
LOCATE COMP "inDataA0[2]" SITE "12" ;
LOCATE COMP "inDataA0[1]" SITE "13" ;
LOCATE COMP "inDataA0[0]" SITE "14" ;
LOCATE COMP "cdiv00[3]" SITE "1" ;
LOCATE COMP "cdiv00[2]" SITE "2" ;
LOCATE COMP "cdiv00[1]" SITE "3" ;
LOCATE COMP "cdiv00[0]" SITE "4" ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "inDataB0[7]" SITE "19" ;
LOCATE COMP "inDataB0[6]" SITE "20" ;
LOCATE COMP "inDataB0[5]" SITE "21" ;
LOCATE COMP "inDataB0[4]" SITE "22" ;
LOCATE COMP "inDataB0[3]" SITE "132" ;
LOCATE COMP "inDataB0[2]" SITE "133" ;
LOCATE COMP "inDataB0[0]" SITE "23" ;
LOCATE COMP "inDataB0[1]" SITE "24" ;
LOCATE COMP "outAC0[7]" SITE "91" ;
LOCATE COMP "outAC0[6]" SITE "92" ;
LOCATE COMP "outAC0[5]" SITE "93" ;
LOCATE COMP "outAC0[4]" SITE "94" ;
LOCATE COMP "outFlagAC0" SITE "58" ;
LOCATE COMP "enab0" SITE "26" ;
LOCATE COMP "opcode0[0]" SITE "34" ;
LOCATE COMP "opcode0[1]" SITE "35" ;
LOCATE COMP "opcode0[2]" SITE "32" ;
LOCATE COMP "opcode0[3]" SITE "33" ;
LOCATE COMP "opcode0[4]" SITE "27" ;
LOCATE COMP "outAC0[3]" SITE "96" ;
LOCATE COMP "outAC0[2]" SITE "95" ;
LOCATE COMP "outAC0[1]" SITE "98" ;
LOCATE COMP "outAC0[0]" SITE "97" ;
LOCATE COMP "outMul0[15]" SITE "59" ;
LOCATE COMP "outMul0[14]" SITE "57" ;
LOCATE COMP "outMul0[13]" SITE "56" ;
LOCATE COMP "outMul0[12]" SITE "54" ;
LOCATE COMP "outMul0[11]" SITE "55" ;
LOCATE COMP "outMul0[10]" SITE "52" ;
LOCATE COMP "outMul0[9]" SITE "50" ;
LOCATE COMP "outMul0[8]" SITE "48" ;
LOCATE COMP "outMul0[7]" SITE "49" ;
LOCATE COMP "outMul0[6]" SITE "47" ;
LOCATE COMP "outMul0[5]" SITE "45" ;
LOCATE COMP "outMul0[4]" SITE "43" ;
LOCATE COMP "outMul0[3]" SITE "42" ;
LOCATE COMP "outMul0[2]" SITE "44" ;
LOCATE COMP "outMul0[1]" SITE "39" ;
LOCATE COMP "outMul0[0]" SITE "41" ;
